﻿<%@ Page Title="" Language="C#" MasterPageFile="~/masterInicio.Master" AutoEventWireup="true" CodeBehind="flota.aspx.cs" Inherits="autosSensacion.flota" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <link href="css/formularioCotizacion.css" rel="stylesheet" />

</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

   <header> <h5 class="dark" style="text-align:center;width:100%;">FLOTA</h5></header>
        <div class="f1-buttons">
                    <div class="btn btn-next">
                        <a id="HyperLink1"  href="~/default.aspx" style="color:white" >Ir a inicio</a></div>
            </div>
    <asp:Panel ID="Panel1" runat="server" ScrollBars="Vertical"></asp:Panel>

</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
