﻿/*---------------------------------------------FORM CONTROL------------------------------------------------------*/
input[type="text"], 
input[type="password"], 
textarea, 
textarea.form-control {
	height: 25px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color:black;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

textarea, 
textarea.form-control {
	height: 90px;
	padding-top: 8px;
	padding-bottom: 8px;
	line-height: 30px;
}

input[type="text"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
textarea.form-control:focus {
	outline: 0;
	background: #fff;
    border: 1px solid #ccc;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, 
textarea:-moz-placeholder, textarea.form-control:-moz-placeholder { color: #888; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, 
textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder { color: #888; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder { color: #888; }

label { font-weight: 300; }


button.btn, .btnForm {
	min-width: 105px;
    max-width:105px;
	height: 40px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

.btnForm:hover,
button.btn:hover { opacity: 0.6; color: #fff; }
btnForm:active,
button.btn:active { outline: 0; opacity: 0.6; color: #fff; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
btnForm:focus,
button.btn:focus,
button.btn:active:focus,
button.btn.active:focus { outline: 0; opacity: 0.6; color: #fff; }

.btn-next,
button.btn.btn-next,
button.btn.btn-next:focus,
button.btn.btn-next:active:focus, button.btn.btn-next.active:focus { background: #33cc33; }


.btn-submit,
button.btn.btn-submit,
button.btn.btn-submit:focus,
button.btn.btn-submit:active:focus, button.btn.btn-submit.active:focus { background: #33cc33; }

button.btn.btn-previous,
button.btn.btn-previous:focus,
button.btn.btn-previous:active:focus, button.btn.btn-previous.active:focus { background: #BABABA; }


/*---------------------------------------------FORM CONTROL------------------------------------------------------*/



strong { font-weight: 500; }


h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #fff;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}

h4 {
	font-size: 18px;
    font-weight: 300;
    color: #fff;
    line-height: 26px;
}



::-moz-selection { background: #33cc33; color: #fff; text-shadow: none; }
::selection { background: #33cc33; color: #fff; text-shadow: none; }

.form-box { padding-top: 40px; }

.f1 {    
}
.f1 h3 { margin-top: 0; margin-bottom: 5px; text-transform: uppercase; }

.f1-steps { overflow: hidden; position: relative; margin-top: 20px;}

.f1-progress { position: absolute; top: 24px; left: 0; width: 100%; height: 1px; background: #888; }
.f1-progress-line { position: absolute; top: 0; left: 0; text-align:center; height: 1px; background: #33cc33;}

.f1-step { position: relative; float: left; text-align:center; width: 25%; padding: 0 5px;}

.f1-step-icon {
	display: inline-block; width: 40px; height: 40px; margin-top: 4px; background: #888;
	font-size: 16px; color: #fff; line-height: 40px;
	-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;
}
.f1-step.activated .f1-step-icon {
	background: #fff; border: 1px solid #33cc33; color: #33cc33; line-height: 38px;
}
.f1-step.active .f1-step-icon {
	width: 48px; height: 48px; margin-top: 0; background: #33cc33; font-size: 22px; line-height: 48px;
}

.f1-step p { color: #888; }
.f1-step.activated p { color: #33cc33; }
.f1-step.active p { color: #33cc33; }

.f1 fieldset { display: none; text-align: left; }

.f1-buttons { text-align: center }

.f1 .input-error { border-color: #f35b3f; }



input{
    width:150px;
    height:25px;
    background: #fff;
    border: 1px solid #A4A3A3;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 44px;
    color:black;
}

  input:focus {
    	outline: 0;
	background: #fff;
    border: 1px solid #0B0B61;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    
    }

/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}


@media (max-width: 415px) {
	
	h1, h2 { font-size: 32px; }
	
	.f1 { padding-bottom: 20px; }
	.f1-buttons button { margin-bottom: 5px; }

}


/*//////////////////////////////////////////////////////////PARA LA TARJETA DE CREDITO//////////////////////////////////////////////////////////////*/

::-webkit-input-placeholder {
   font-style: italic;
}
:-moz-placeholder {
   font-style: italic;
}
::-moz-placeholder {
   font-style: italic;
}
:-ms-input-placeholder {  
   font-style: italic;
}


strong {
	font-weight: 700;
}

.bkng-tb-cntnt {
    width: 60%;
}

.pymnts {
    float: left;
    width: 60%;
}
.pymnts * {
    float: left;
}

.sctn-row {
    margin-bottom: 35px;
    width: 80%;
}
.sctn-col {
    width: 45%;
}
.sctn-col.l {
    width: 55%;
}
.sctn-col input {
    border: 1px solid #ccc;
    font-size: 15px;
    line-height: 20px;
    padding: 8px 10px;
    width: 100%;
}
.sctn-col label {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    width: 100%;
}
/*.sctn-col.x3 {
    width: 300px;
}
.sctn-col.x3.last {
    width: 200px;
}
.sctn-col.x3 input {
    width: 210px;
}
.sctn-col.x3 a {
    float: right;
}*/
.pymnts-sctn {
    width: 80%;
}
.pymnt-itm {
    margin: 0 0 3px;
    width: 80%;
}
.pymnt-itm h2 {
    background-color: #e9e9e9;
    font-size: 18px;
    line-height: 15px;
    margin: 0;
    padding: 15px 0 15px 0px;
    width: 100%;
}
.pymnt-itm.active h2 {
    background-color: #33cc33;
    width:100%;
    color: #fff;
    cursor: default;
}
.pymnt-itm div.pymnt-cntnt {
    display: none;
    width:100%;
}
.pymnt-itm.active div.pymnt-cntnt {
    background-color: #888;
    display: block;
    width: 100%;
}

.pymnt-cntnt div.sctn-row {
    margin: 10px 10px 0;
    width: 100%;
}
.pymnt-cntnt div.sctn-row div.sctn-col {
    width: 45%;
    /*width:50%;*/
}
.pymnt-cntnt div.sctn-row div.sctn-col.l {
    /*width: 50%;*/
     width: 55%;
}
.pymnt-cntnt div.sctn-row div.sctn-col input {
    width: 80%;
    /*width:50%;*/
}
.pymnt-cntnt div.sctn-row div.sctn-col.half {
    width:50%;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half.l {
    float: left;
    width: 50%;
}
.pymnt-cntnt div.sctn-row div.sctn-col.half input {
    width: 80%;
}

.pymnt-cntnt div.sctn-row div.sctn-col.cvv div.sctn-col.half input {
    width: 90%;
}
.openpay {
    height: 60px;
    width: 100%;
}
.card-expl {
    height: 40px;
    width: 100%;
    text-align:center
}
.card-expl div {
    background-position: left 45px;
    background-repeat: no-repeat;
    height: 50px;
    padding-top: 10px;
}

.card-expl div.credit {
    margin-left: 30px;
    width: 100%;
}
.card-expl h4 {
    font-weight: 400;
    margin: 0;
}